.jumbotron {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/newspaper-pic-4.jpg") no-repeat center center scroll;
  opacity: 0.85;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  padding-top: 60px;
  color: white;
}

.jumbotron h3 {
  color: white;
}
#h3-color-logged-in {
  color: yellow;
}

.jumbotron h1 {
  color: white;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 3px;
  font-size: 4em;
}